{# 
Routes: /edit-roles
Entity: Roles
Functions: SELECT all Roles 
#}

{% extends "nw57_layout.j2" %}

{# track current page #}
{% set active_page = 'settings' %}

{% block title %}Pawsome Animal Rescue - Edit Roles{% endblock title %} 
{% block body_content %}
<br>
<h2>Edit Roles</h2>
<br>

<a href="/settings"><button class="btn btn-secondary">Back to Settings</button></a> <a href="/edit-users"><button class="btn btn-secondary">Manage Role Assignment</button></a>  <a href="/view-users-roles"><button class="btn btn-secondary">View All Role Assignments</button></a>
<br><br>

{% for message in get_flashed_messages() %}
  <div id="update-success">
      {{ message }}
  </div>
{% endfor %}

<h4>Add New Role</h4>
<form name="create_a_role" action="/insert-role" method="POST">
<table class="table w-auto table-borderless">
  <tbody>
  <tr>
    <td><input type="text" name="name" value="" placeholder="Name"></td>
    <td><button class="btn btn-success btn-block">Create</button>
  </tr>
  </tbody>
</table>
</form>

<h4>Roles</h4>

{% if roles|length < 1 %}
<p>There are no existing roles.</p>
{% else %}
    <table class = "table">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for role in roles %}
        <tr>
            <form action="/update-role/{{role.id}}" method="POST">
            <td>{{role.id}}</td>
            <td><input type="text" class="form-control" id="role_name" name="role_name" value="{{role.role_name}}"></td>
            <td><button class="btn btn-primary">Update</button></td>
            </form>
        </tr>
        {% endfor %}
        </tbody>
    </table>

{% endif %}

{% endblock body_content %}

