{% extends "nw57_layout.j2" %}

{# track current page #}
{% set active_page = 'settings' %}

{% block title %}Pawsome Animal Rescue - Edit Application Detail{% endblock title %} 
{% block body_content %}


<br>
<h3>Application #{{current_app.id}}</h3>

{% for message in get_flashed_messages() %}
  <div id="update-success">
      {{ message }}
  </div>
{% endfor %}

<br>
<b>Submission Date:</b> {{current_app.application_date}} <br>
<b>Animal Name:</b> {{current_app.animal_name}} <br>
<b>Animal ID:</b> {{current_app.animal_id}}<br><br>

<h4>Applicant Information</h4>
<b>Name:</b> {{current_app.first_name}} {{current_app.last_name}} <br>
<b>User ID:</b> {{current_app.user_id}} <br>
<b>Home Ownership:</b>
{% if current_app.home_ownership %}
     Yes
{% else %}
     No
{% endif %}
<br>
<b>Children:</b>
{% if current_app.has_children %}
     Yes
{% else %}
     No
{% endif %}
<br>
<b>Would {{current_app.animal_name}} be their first pet?</b>
{% if current_app.first_pet %}
     Yes
{% else %}
     No
{% endif %}
<br>
<b>Number of Pets Owned: </b> {{current_app.pets_in_home}}
<br><b>Current Approval Status: </b>
     {% if current_app.approval_status is not none %}
          {% if current_app.approval_status %}
               Approved
          {% else %}
               Rejected
     {% endif %}
     {% else %}
          Pending
     {% endif %}
<br>
<br>
<h5>Update Application Approval </h5>
<a href= "/update-app/{{current_app.id}}/1"><button class="btn btn-success">Approve</button></a> <a href="/update-app/{{current_app.id}}/0"><button class="btn btn-danger">Reject</button></a>
<a href="/update-app/{{current_app.id}}/3"><button class="btn btn-secondary">Pending</button>

<br>

<br>
<a href="/edit-apps"><button class="btn btn-secondary">Back to All Applications</button></a> 
<br>





{% endblock body_content %}

