{# 
Routes: /view-users-roles
Entity: Users_Roles, Users, Roles
Functions: SELECT all Users_Roles,
           SELECT Users first_name, last_name
           SELECT Roles role_name
Relationships: Users and Roles (M:M) 
#}

{% extends "nw57_layout.j2" %}

{# track current page #}
{% set active_page = 'settings' %}

{% block title %}Pawsome Animal Rescue - Edit Roles{% endblock title %} 
{% block body_content %}
<br>
<h2>View Users_Roles</h2>
<br>

<a href="/settings"><button class="btn btn-secondary">Back to Settings</button></a> <a href="/edit-users"><button class="btn btn-secondary">Manage Role Assignment</button></a>
<br><br>

{% if users_roles|length < 1 %}
<p>There are no existing users_roles.</p>
{% else %}
    <table class = "table">
        <thead>
        <tr>
            <th scope="col">User_Roles_ID</th>
            <th scope="col">Role ID</th>
            <th scope="col">Role Name</th>
            <th scope="col">User ID</th>
            <th scope="col">User Name</th>
        </tr>
        </thead>
        <tbody>
        {% for item in users_roles %}
        <tr>
          <td>{{item.id}}</td>
          <td>{{item.role_id}}</td>
          <td>{{item.role_name}}</td>
          <td>{{item.user_id}}</td>
          <td>{{item.first_name}} {{item.last_name}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

{% endif %}

{% endblock body_content %}

