{# 
Routes: /animals
Entity: Animals, Shelters
Functions: SELECT all Animals and
           SELECT all Shelters
           Filter Animals by shelter, availability, or species
Relationships: M:1 relationship between Animals and Shelters 
#}

{% extends "nw57_layout.j2" %}

{# track current page #}
{% set active_page = 'animals' %}

{% block title %}Pawsome Animal Rescue - Animals{% endblock title %} 
{% block body_content %}

<script>
  // Show selected dropdowns based on
  // https://stackoverflow.com/questions/33413106
  $('.dropdown-menu a').click(function(){
    $('#selected').text($(this).text());
  });
</script>

<br>
<h1>Animals</h1>
<br>

{# Filter options #}
<span> <b>Filter By: </b> </span>

<div class="btn-group">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    {% if current_shelter %}
      {{ current_shelter }}
    {% else %}  
      Shelter
    {% endif %}
  </button>
  <ul class="dropdown-menu">
    {% for shelter in distinct_shelters %}
        {% if current_species and current_available %}
           <li><a class="dropdown-item" href="/animals?shelter={{ shelter }}&species_type={{ current_species }}&available={{current_available}}">{{ shelter }}</a></li>
        {% elif current_species %}
          <li><a class="dropdown-item" href="/animals?shelter={{ shelter }}&species_type={{ current_species }}">{{ shelter }}</a></li>
        {% elif current_available %}
          <li><a class="dropdown-item" href="/animals?shelter={{ shelter }}&available={{ current_available }}">{{ shelter }}</a></li>
        {% else %}
          <li><a class="dropdown-item" href="/animals?shelter={{ shelter }}">{{ shelter }}</a></li>
        {% endif %}
    {% endfor %}
  </ul>
</div>

<div class="btn-group">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    {% if current_available %}
      {{ current_available }}
    {% else %}  
      Availability
    {% endif %}
  </button>
  <ul class="dropdown-menu">
    {% if current_shelter and current_species %}
    <li><a class="dropdown-item" href="/animals?available=Available&shelter={{current_shelter}}&species_type={{current_species}}">Available</a></li>
    <li><a class="dropdown-item" href="/animals?available=Adopted&shelter={{current_shelter}}&species_type={{current_species}}">Adopted</a></li>
    {% elif current_shelter %}
    <li><a class="dropdown-item" href="/animals?available=Available&shelter={{current_shelter}}">Available</a></li>
    <li><a class="dropdown-item" href="/animals?available=Adopted&shelter={{current_shelter}}">Adopted</a></li>
    {% elif current_species %}
    <li><a class="dropdown-item" href="/animals?available=Available&species_type={{current_species}}">Available</a></li>
    <li><a class="dropdown-item" href="/animals?available=Adopted&species_type={{current_species}}">Adopted</a></li>
    {% else %}
    <li><a class="dropdown-item" href="/animals?available=Available">Available</a></li>
    <li><a class="dropdown-item" href="/animals?available=Adopted">Adopted</a></li>
    {% endif %}
  </ul>
</div>

<div class="btn-group">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    {% if current_species %}
      {{ current_species }}
    {% else %}  
      Species
    {% endif %}
  </button>
  <ul class="dropdown-menu">
    {% for species_type in distinct_species_type %}
        {% if current_shelter and current_available %}
        <li><a class="dropdown-item" href="/animals?species_type={{ species_type }}&shelter={{current_shelter}}&available={{current_available}}">{{ species_type }}</a></li>
        {% elif current_shelter %}
        <li><a class="dropdown-item" href="/animals?species_type={{ species_type }}&shelter={{current_shelter}}">{{ species_type }}</a></li>
        {% elif current_available %}
        <li><a class="dropdown-item" href="/animals?species_type={{ species_type }}&available={{current_available}}">{{ species_type }}</a></li>
        {% else %}
        <li><a class="dropdown-item" href="/animals?species_type={{ species_type }}">{{ species_type }}</a></li>
        {% endif %}
    {% endfor %}
  </ul>
</div>

<a class="btn btn-secondary" href="/animals" role="button">None</a>

<br>
<br>

{% if animals_data|length < 1 %}
  <p>There were no animals found with this filter.</p>
{% else %}
  {% for animal in animals_data %}
    <div class="row justify-content-center">
        <div class="col-sm-8">
            <div class="card">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{{animal.image_url}}" class="img-fluid rounded-start" alt="picture of animal">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{animal.animal_name}}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{animal.breed}} - {{animal.species_type}}</h6>
                            <p class="card-text">
                                <ul>
                                    <li>Personality: {{animal.personality}}</li>
                                    {% if animal.adopted_date %}
                                        <li>Adopted on: {{animal.adopted_date}}</li>
                                    {% else %}
                                        <li>Needs a Home! Learn More & Apply Below.</li>
                                    {% endif %}
                                </ul>
                            </p>
                            <p class="card-text"><small class="text-muted">Photo from <a href="https://unsplash.com/s/photos/cat-and-dog-pet?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a></small></p>
                            <a href="/animals/{{animal.id}}" class="card-link">Learn More About Me</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
  {% endfor %}
  {# show pagination controls #}
  <nav>
    <ul class="pagination justify-content-center">
      {# make prevous page links with current filters #}
      {% if current_shelter and current_available and current_species %}
        <li class="page-item"><a class="page-link" href="/animals?shelter={{current_shelter}}&available={{current_available}}&species_type={{current_species}}&page={{ curr_page-per_page }}">Previous Page</a></li>
      {% elif current_available and current_species %}
        <li class="page-item"><a class="page-link" href="/animals?available={{current_available}}&species_type={{current_species}}&page={{ curr_page-per_page }}">Previous Page</a></li>
      {% elif current_shelter and current_available %}
        <li class="page-item"><a class="page-link" href="/animals?shelter={{current_shelter}}&available={{current_available}}&page={{ curr_page-per_page }}">Previous Page</a></li>
      {% elif current_shelter and current_species %}
        <li class="page-item"><a class="page-link" href="/animals?shelter={{current_shelter}}&species_type={{current_species}}&page={{ curr_page-per_page }}">Previous Page</a></li>
      {% elif current_shelter %}
        <li class="page-item"><a class="page-link" href="/animals?shelter={{current_shelter}}&page={{ curr_page-per_page }}">Previous Page</a></li>
      {% elif current_available %}
        <li class="page-item"><a class="page-link" href="/animals?available={{current_available}}&page={{ curr_page-per_page }}">Previous Page</a></li>
      {% elif current_species %}
        <li class="page-item"><a class="page-link" href="/animals?species_type={{current_species}}&page={{ curr_page-per_page }}">Previous Page</a></li>
      {% else %}
        <li class="page-item"><a class="page-link" href="/animals?page={{ curr_page-per_page }}">Previous Page</a></li>
      {% endif %}
      {# make next page links with current filters #}
      {% if current_shelter and current_available and current_species %}
        <li class="page-item"><a class="page-link" href="/animals?shelter={{current_shelter}}&available={{current_available}}&species_type={{current_species}}&page={{ curr_page+per_page }}">Next Page</a></li>
      {% elif current_available and current_species %}
        <li class="page-item"><a class="page-link" href="/animals?available={{current_available}}&species_type={{current_species}}&page={{ curr_page+per_page }}">Next Page</a></li>
      {% elif current_shelter and current_available %}
        <li class="page-item"><a class="page-link" href="/animals?shelter={{current_shelter}}&available={{current_available}}&page={{ curr_page+per_page }}">Next Page</a></li>
      {% elif current_shelter and current_species %}
        <li class="page-item"><a class="page-link" href="/animals?shelter={{current_shelter}}&species_type={{current_species}}&page={{ curr_page+per_page }}">Next Page</a></li>
      {% elif current_shelter %}
        <li class="page-item"><a class="page-link" href="/animals?shelter={{current_shelter}}&page={{ curr_page+per_page }}">Next Page</a></li>
      {% elif current_available %}
        <li class="page-item"><a class="page-link" href="/animals?available={{current_available}}&page={{ curr_page+per_page }}">Next Page</a></li>
      {% elif current_species %}
        <li class="page-item"><a class="page-link" href="/animals?species_type={{current_species}}&page={{ curr_page+per_page }}">Next Page</a></li>
      {% else %}
        <li class="page-item"><a class="page-link" href="/animals?page={{ curr_page+per_page }}">Next Page</a></li>
      {% endif %}
    </ul>
  </nav>
{% endif %}

{% endblock body_content %}