{# 
Routes: /insert-animal
Entity: Animals, Shelters
Functions: INSERT individual Animals
           SELECT Shelter by id, shelter_name
Relationships: M:1 Relationship between Animals and Shelters 
#}

{% extends "nw57_layout.j2" %}

{# track current page #}
{% set active_page = 'settings' %}

{% block title %}Pawsome Animal Rescue - Add Animals{% endblock title %} 
{% block body_content %}
<br>
<h2>Add Animal</h2>
<br>

<a href="/edit-animals"><button class="btn btn-secondary">Back to All Animals</button></a>
<br><br>
<!-- Note: You will need enctype="multipart/form-data" for image upload to work properly -->
<form action="/insert-animal" method="POST" enctype="multipart/form-data">
    <div class="form-group">
        <label for="animalName">Animal Name</label>
        <input type="text" class="form-control" name="animalName" id="animalName" placeholder="Belinda" required="required">
    </div>
    <br>

    <div class="form-group">
        <label for="shelterId">Shelter Name</label>
        <select class="form-control" name="shelterId" id="shelterId">
            <option value="None">None</option>
            {% for shelter in shelters %}
                <option value="{{ shelter.id }}">{{ shelter.shelter_name }}</option>
            {% endfor %}
        </select>
    </div>
    <br>

    <div class="form-group">
        <label for="birthdate">Birthdate</label>
        <input type="date" class="form-control" name="birthdate" id="birthdate" required="required">
    </div>
    <br>

    <div class="form-group">
        <label for="gender">Gender</label>
        <select class="form-control" name="gender" id="gender">
            <option>F</option>
            <option>M</option>
        </select>
    </div>
    <br>

    <div class="form-group">
        <label for="speciesType">Species Type</label>
        <select class="form-control" name="speciesType" id="speciesType">
            <option>Cat</option>
            <option>Dog</option>
            <option>Bird</option>
            <option>Other</option>
        </select>
    </div>
    <br>

    <div class="form-group">
        <label for="breed">Breed</label>
        <input type="text" class="form-control" name="breed" id="breed" placeholder="Maine Coon">
    </div>
    <br>

    <div class="form-group">
        <label for="personality">Personality</label>
        <input type="text" class="form-control" name="personality" id="personality" placeholder="A friendly floof who loves belly rubs and dipping her paw in cups of water.">
    </div>
    <br>

    <div class="form-group">
        <label for="imageURL">Animal Picture</label>
            <!-- 1. Default Static Image -->
            <div class="form-check mt-3">
                <input class="form-check-input" type="radio" name="imageURL" id="imageOption1" value="1" required>
                <label class="form-check-label" for="imageOption1">Select Default Image</label>
            </div>
            <select class="form-control" name="imageSelect" id="imageSelect" value='imageURLDefault'>
                <option value="/static/img/cat1.png">cat1.png</option>
                <option value="/static/img/dog1.png">dog1.png</option>
                <option value="/static/img/bird1.png">bird1.png</option>
            </select>
            <!-- 2. Custom URL -->
            <div class="form-check">
                <input class="form-check-input" type="radio" name="imageURL" id="imageOption2" value="2">
                 <label class="form-check-label" for="imageOption2">Upload from  Website URL</label>
            </div>
            <input type="text" class="form-control" name="imageURLtext" id="imageURLtext" placeholder="www.image.com/image.jpg">
            <!-- 3. Photo Upload -->
            <div class="form-check">
                <input class="form-check-input" type="radio" name="imageURL" id="imageOption3" value="3">
                <label class="form-check-label" for="imageOption3">Upload from Computer</label>
            </div>
                <input type="file" class="form-control mt-2 " id="customFile" name="customFile" />
    </div>
    <br>
    
    <div class="form-group">
        <label for="intakeDate">Intake Date</label>
        <input type="date" class="form-control" name="intakeDate" id="intakeDate" required="required">
    </div>
    <br>

    <div class="form-group">
        <label for="adoptedDate">Adopted Date (leave blank if not yet adopted)</label>
        <input type="date" class="form-control" name="adoptedDate" id="adoptedDate">
    </div>
    <br>

    <div class="form-group">
        <label for="adoptionFee">Adoption Fee</label>
        <input type="number" class="form-control" name="adoptionFee" id="adoptionFee" placeholder="35.00" step="0.01" min="0" max="99.99">
    </div>
    <br>

  <button type="submit" class="btn btn-primary">Submit Animal</button>
</form>

{% endblock body_content %}