/* Impact CSS globally for entire site */

/* Successful update flash message */
#update-success {
    background-color:#157347;
    color:white;
    padding: 0.5em;
    margin-bottom: 0.5em;
    border-radius: 0.3em;
    display:inline-block;
}

/* Successful delete flash message */
#delete-success {
    background-color:#BB2D3B;
    color:white;
    padding: 0.5em;
    margin-bottom: 0.5em;
    border-radius: 0.3em;
    display:inline-block;
}

/* Navigation Dropdown menu background */
.navbar .dropdown-menu, .navbar .dropdown-item {
    background-color: #212529;
    color:#8f8f8f;
}

/* Navigation Dropdown menu on Hover */
.navbar .dropdown-item:hover {
    color:#fff;
}

/* Remove link underlines */
a:link, a:visited, a:hover {
    text-decoration:None;
}

/* Add this class to hide something */
.hidden {
    display:none;
}
