{% extends "nw57_layout.j2" %}
{% block title %}Pawsome Animal Rescue - Index Page{% endblock title %} 
{% block body_content %}
<br>
<h2>About</h2>
<b>Site created by: </b>Wes MacDonald & Patricia Booth
<br><br>
<p>
Pawsome Animal Rescue is focused on helping animals get adopted and find happy homes. 
Our Animal Shelter is a similar size to the Oregon Humane Society, and helps families 
adopt ~10,000 animals per year. We need a robust database driven website to keep track 
of animals across 20 shelters that will be accessed by hundreds of users on a daily basis. 
Users will have different roles such as our 500 shelter staff and volunteers managing 
animal information and thousands of potential adopters seeking to submit adoption applications. 
We foresee needing to implement a scalable solution that can handle an influx of interested adopters
and animals.
</p>

<h4>Credits</h4>
<b>Default Images</b>
<ul>
    <li><a href="https://unsplash.com/photos/N04FIfHhv_k">dog1.png<a/> - 
    <a href="https://unsplash.com/@victor_vector">Victor Grabarczyk</a> on Unsplash</li>
     <li><a href="https://unsplash.com/photos/SAKLELG-pO8">cat1.png<a/> - 
    <a href="https://unsplash.com/@tim_front">Timur M</a> on Unsplash</li>
    <li><a href="https://unsplash.com/photos/yZTbN9-5fx4">bird1.png<a/> - 
    <a href="https://unsplash.com/@sultann">Sultan</a> on Unsplash</li>
</ul>
<b>Icons</b>
<ul>
   <li><i class="fas fa-paw"></i> <i class="far fa-edit"></i> Icons from <a href="https://fontawesome.com/">Font Awesome</a></li>
</ul>
<b>Guides</b>
<ul>
    <li><a href="https://github.com/osu-cs340-ecampus/flask-starter-app">OSU CS340 Flask Starter App</a></li>
    <li><a href="https://cloudinary.com/blog/creating_an_api_with_python_flask_to_upload_files_to_cloudinary">Image Upload: Cloudinary and Flask</a></li>
</ul>
<b>Additional Images</b>
<ul> 
    <li><a href="https://unsplash.com/photos/_Mty3g9XWr0">Bengal<a/> - 
    <a href="https://unsplash.com/@flowerchildkimmi">Kim Davies</a> on Unsplash</li>
    <li><a href="https://unsplash.com/photos/rW-I87aPY5Y">Norwegian Forest<a/> - 
    <a href="https://unsplash.com/@_k_arinn">Karina Vorozheeva</a> on Unsplash</li>
    <li><a href="https://unsplash.com/photos/rW-I87aPY5Y">Greyhound<a/> - 
    <a href="https://unsplash.com/@selzcc">Jannik Selz</a> on Unsplash</li>
    <li><a href="https://unsplash.com/photos/KAKUkaSw_t8">Calico<a/> - 
    <a href="https://unsplash.com/@rippleqian2020">Ripple Qian</a> on Unsplash</li>
    <li><a href="https://unsplash.com/photos/NEZLJ54ezP4">Shiba Inu<a/> - 
    <a href="https://unsplash.com/@mouki">Maxim Izbash</a> on Unsplash</li>
    <li><a href="https://unsplash.com/photos/_x0k1B-QZ8A">Sun Conure<a/> - 
    <a href="https://unsplash.com/@andreaelphotography">Andrea Lightfoot</a> on Unsplash</li>
    <li><a href="https://unsplash.com/photos/XhB9fPPpT8s">Parakeet<a/> - 
    <a href="https://unsplash.com/@adamhles">Adam Hles</a> on Unsplash</li>
    <li> and personal pet photos</li>

</ul>

{% endblock body_content %}