{% extends "nw57_layout.j2" %}
{% block title %}Pawsome Animal Rescue - Edit {{user[0].first_name}} {{user[0].last_name}}'s Roles{% endblock title %} 
{% block body_content %}
<br>
<h2>Edit Roles for {{user[0].first_name}} {{user[0].last_name}}</h2>
<br>

<a href="/edit-users"><button class="btn btn-secondary">Back to All Users</button></a>
<br><br>

{% for message in get_flashed_messages() %}
  <div id="update-success">
      {{ message }}
  </div>
  <br><br>
{% endfor %}

<h4>Add Role</h4>

<form name="assign_user_role" action="/create-users-roles/{{user[0].id}}" method="POST">
    <select name="roles" class ="form-select w-auto">
      {% for role in roles %}
        <option value="{{role.id}}" SELECTED>{{role.id}}. {{role.role_name}}</option>
      {% endfor %}     
    </select>
    <br>
    <button class="btn btn-primary">Submit</button>
</form>

<br>

<h4>Current Roles</h4>

{% if users_roles|length < 1 %}
<p>There are no existing roles.</p>
{% else %}
    <table class = "table table-hover">
        <thead>
        <tr>
            <th scope="col">Users_Roles ID</th>
            <th scope="col">Name</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
        {% for users_roles in users_roles %}
        <tr>
            <form action="/delete-users-roles/{{users_roles.user_id}}/{{users_roles.id}}" method="POST">
            <td>{{users_roles.id}}</td>
            <td>{{users_roles.role_name}}</td>
            <td><button class="btn btn-danger" disabled>x</button></td></td>
            </form>
        </tr>
        {% endfor %}
        </tbody>
    </table>

{% endif %}



{% endblock body_content %}

