{% extends "nw57_layout.j2" %}
{% block title %}Pawsome Animal Rescue - Index Page{% endblock title %} 
{% block body_content %}
<br>
<h2>Index Page</h2>
<br>
<!-- Submission page for Project Step 3 -->
<!-- TODO: Update Index with links to appropriate pages-->
<!-- TODO: Page Layout not finalized..subject to change based on implementation -->

<h3>Animals</h3>
<ul>
    <li><a href="/add_animal">Add Animals Page</a></li>
        <ul>
            <li>INSERT Animals</li>
        </ul>
</ul>

<ul>
    <li><a href="/edit-animals">Update Animals Page</a></li>
        <ul>
            <li>UPDATE Animals</li>
        </ul>
</ul>

<ul>
  <li><a href="/animals">Filter Animals Page</a></li>
        <ul>
            <li>SELECT all Animals</li>
            <li>SELECT subset of Animals</li>
        </ul>
</ul>

<ul>
  <li>Pet Profile Pages (available from "Learn More About Me" links on <a href="/animals">Filter Animals Page</a>)</li>
        <ul>
            <li>SELECT single pet by animal_id</li>
            <li>INSERT Application</li>
        </ul>
</ul>

<h3>Shelters</h3>
<ul>
    <li><a href="/edit-shelters">Edit Shelters Page</a></li>
        <ul>
            <li>INSERT Shelters</li>
            <li>DELETE Shelters</li>
        </ul>

     <li><a href="#">View Shelters Page</a></li>
        <ul>
            <li>SELECT Shelters</li>
        </ul>
</ul>


<h3>Applications</h3>
<ul>
    <li><a href="#">Edit Applications Page - Staff</a></li>
        <ul>
            <li>SELECT Applications</li>
            <li>UPDATE Applications</li>
        </ul>
</ul>

<ul>
    <li><a href="#">Edit Applications Page - Users (Non-Staff)</a></li>
        <ul>
            <li>SELECT Applications specific to Users</li>
        </ul>
</ul>

<ul>
    <li>Pet Profile Pages (available from "Learn More About Me" links on <a href="/animals">Filter Animals Page</a>)</li>
        <ul>
            <li>SELECT single pet by animal_id</li>
            <li>INSERT Application</li>
        </ul>
</ul>

<h3>Users</h3>
<ul>
    <li><a href="/edit-users">Edit Users Page</a></li>
        <ul>
            <li>SELECT Users</li>
            <li>UPDATE Users</li>
            <li>ADD and DELETE Users_Roles (M:M)</li>
        </ul>
</ul>
<ul>
    <li><a href="/signup">Sign Up Page</a></li>
        <ul>
            <li>INSERT Users</li>
        </ul>
</ul>


<h3>Roles</h3>
<ul>
    <li><a href="/edit-roles">Edit Roles Page</a></li>
        <ul>
            <li>SELECT Roles</li>
            <li>INSERT Roles</li>
            <li>UPDATE Roles</li>
        </ul>
</ul>

{% endblock body_content %}

