{% extends "nw57_layout.j2" %}

{# track current page #}
{% set active_page = 'settings' %}

{% block title %}Pawsome Animal Rescue - Settings{% endblock title %} 
{% block body_content %}
<link rel="stylesheet" href="{{ url_for('static', filename='nw57_settings.css') }}">

<br>
<h2>Settings</h2>
<br>

<div class="container-fluid settings-grid">
  <div class="row g-2">
    <div class="col-md-4">
      <a href="/edit-animals">
        <div class="p-3 border bg-light d-flex justify-content-center">
          Animals
        </div>
      </a>
    </div>
    <div class="col-md-4">
      <a href="/edit-apps">
        <div class="p-3 border bg-light d-flex justify-content-center">
          Applications
        </div>
      </a>
    </div>
    <div class="col-md-4">
      <a href="/edit-shelters">
        <div class="p-3 border bg-light d-flex justify-content-center">
          Shelters
        </div>
      </a>
    </div>
    <div class="col-md-4">
      <a href="/edit-users">
        <div class="p-3 border bg-light d-flex justify-content-center">
        Users
        </div>
      </a>
    </div>
    <div class="col-md-4">
      <a href="/edit-roles">
        <div class="p-3 border bg-light d-flex justify-content-center">
          Roles
        </div>
      </a>
    </div>
  </div>
</div>

</div>


{% endblock body_content %}

