{% extends "nw57_layout.j2" %}
{% block title %}Pawsome Animal Rescue - Edit {{user.first}} {{user.last}}'s Roles{% endblock title %} 
{% block body_content %}
<br>
<h2>Edit Roles for {{user.first}} {{user.last}}</h2>
<br>

<a href="/edit-users"><button class="btn btn-secondary">Back to All Users</button></a>
<br><br>

<!--- TODO : Better confirmation message -->
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <script>
      var messages = {{ messages | safe }};
      for (var i=0; i<messages.length; i++) {
        alert(messages[i]);
      }
    </script>
  {% endif %}
{% endwith %}

<h4>Add Role</h4>

<form name="assign_user_role" action="/create-users-roles/{{user.id}}" method="POST">
    <select name="roles" class ="form-select w-auto">
      {% for role in roles %}
        <option value="{{role.id}}" SELECTED>{{role.name}}</option>
      {% endfor %}     
    </select>
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<br>

<h4>Current Roles</h4>

{% if current_roles|length < 1 %}
<p>There are no existing roles.</p>
{% else %}
    <table class = "table table-hover">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
        {% for current_role in current_roles %}
        <tr>
            <form action="/delete-users-roles/{{user.id}}/{{current_role.id}}" method="POST">
            <td>{{current_role.name}}</td>
            <td><button type="submit" class="btn btn-danger">x</button></td></td>
            </form>
        </tr>
        {% endfor %}
        </tbody>
    </table>

{% endif %}



{% endblock body_content %}

