{% extends "nw57_layout.j2" %}

{# track current page #}
{% set active_page = 'settings' %}

{% block title %}Pawsome Animal Rescue - Edit Shelters{% endblock title %} 
{% block body_content %}


{# Shelters: Records the details of each animal shelter location
shelter_id: INT, auto_increment, unique, NOT NULL, PK
shelter_name: VARCHAR(255), NOT NULL
street: VARCHAR(255)
city: VARCHAR(50)
state: VARCHAR(2)
zip_code: INT(5)
Relationship: 
1:M relationship with Animals, using shelter_id as fk implemented inside Animals #}


<br>
<h2>Edit Shelters</h2>
<br>
<a href="/settings"><button class="btn btn-secondary">Back to Settings</button></a> 
<br><br>

{% with insert = get_flashed_messages(category_filter=["insert"]) %}
  {% if insert %}
    {% for message in get_flashed_messages() %}
      <div id="update-success">
          {{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}

{% with delete = get_flashed_messages(category_filter=["delete"]) %}
  {% if delete %}
    {% for message in get_flashed_messages() %}
      <div id="delete-success">
          {{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}

<h4>Add New Shelter</h4>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Shelter Name</th>
            <th scope="col">Street</th>
            <th scope="col">City</th>
            <th scope="col">State</th>
            <th scope="col">Zip Code</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <form action="/insert-shelter" method="POST">
            <td><input type="text" class="form-control" id="shelter_name" name="shelter_name" placeholder="Calico Place"></td>
            <td><input type="text" class="form-control" id="street" name="street" placeholder="1423 Raccoon Run"></td>
            <td><input type="text" class="form-control" id="city" name="city" placeholder="Seattle"></td>
            <td><input type="text" class="form-control" id="state" name="state" placeholder="WA"></td>
            <td><input type="number" class="form-control" id="zip_code" name="zip_code" placeholder="98109"></td>
            <td><button type="submit" class="btn btn-success">Add</button></td>
            </form>
        </tr>
    </tbody>
</table>
<br>
<h4>Delete Shelters</h4>
<br>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Shelter ID</th>
            <th scope="col">Shelter Name</th>
            <th scope="col">Street</th>
            <th scope="col">City</th>
            <th scope="col">State</th>
            <th scope="col">Zip Code</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for shelter in shelters_data %}
            <tr>
                <form action="/delete-shelter/{{shelter.id}}" method="POST">
                <td>{{shelter.id}}</td>
                <td>{{shelter.shelter_name}}</td>
                <td>{{shelter.street}}</td>
                <td>{{shelter.city}}</td>
                <td>{{shelter.state}}</td>
                <td>{{shelter.zip_code}}</td>
                <td><button type="submit" class="btn btn-danger">Delete</button></td>
                </form>
            </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock body_content %}