{% extends "nw57_layout.j2" %}

{# track current page #}
{% set active_page = 'settings' %}

{% block title %}Pawsome Animal Rescue - Edit Users{% endblock title %} 
{% block body_content %}


<br>
<h2>Edit Users</h2>
<br>

<a href="/settings"><button class="btn btn-secondary">Back to Settings</button></a>
<br><br>

<!--

Users: Users that use the animal shelter website (both adopters and staff)
user_id: INT, auto_increment, unique, NOT NULL, PK
first_name: VARCHAR(50), NOT NULL
last_name: VARCHAR(50)
email_address: VARCHAR(255), UNIQUE, NOT NULL
password: VARCHAR(255), NOT NULL
Relationships: 
M:M relationship with Roles, using intersection table Users_Roles with two foreign keys
-->

{% for message in get_flashed_messages() %}
  <div id="update-success">
      {{ message }}
  </div>
{% endfor %}

<h4>Add New User</h4>
<table class = "table">
    <thead>
        <tr>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Email Address</th>
            <th scope="col">Password</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
     <tr>
            <form action="/create-user" method="POST">
            <td><input type="text" class="form-control" name="first_name" value="" placeholder="First"></td>
            <td><input type="text" class="form-control" name="last_name" value="" placeholder="Last"></td>
            <td><input type="email" class="form-control" name="email" value="" placeholder="name@email.com"></td>
            <td><input type="password" class="form-control" name="pw" value="" placeholder="**********"></td>
            <td><button class="btn btn-success">Create</button></td>
            </form>
    </tr>
    </tbody>
</table>

<h4>Users</h4>
{% if users|length < 1 %}
<p>There are no existing users.</p>
{% else %}
    <table class = "table table-hover">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Roles</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Email Address</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
        <tr>
            <form action="/update-user/{{user.id}}" method="POST">
            <td>{{user.id}}</td>
            <td><a href="/edit-users/roles/{{user.id}}"><button type="button" class="btn btn-secondary"><i class="far fa-edit"></i></button></a></td>
            <td><input type="text" class="form-control" id="user_first" name="user_first" value="{{user.first_name}}"></td>
            <td><input type="text" class="form-control" id="user_last" name="user_last" value="{{user.last_name}}"></td>
            <td><input type="text" class="form-control" id="user_email" name="user_email" value="{{user.email_address}}"></td>
            <td><button class="btn btn-primary">Update</button></td>
            </form>
        </tr>
        {% endfor %}
        </tbody>
    </table>

{% endif %}

{% endblock body_content %}

